@keyframes drift {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

/* ---------------------------------------------------- */
/* CẬP NHẬT: Class .cloud */
/* ---------------------------------------------------- */
.cloud {
  width: 200px;
  height: 60px;
  background: #ffffff;
  border-radius: 100px;
  position: absolute;
  opacity: 0.8;
  z-index: 1;

  /*
    Các thuộc tính này giờ sẽ lấy giá trị từ
    các biến được định nghĩa trong :nth-child bên dưới
  */
  top: var(--cloud-top);
  left: var(--cloud-left);
  // animation: float var(--cloud-duration) ease-in-out var(--cloud-delay) infinite alternate;
  animation: drift 25s linear infinite;
  animation-duration: var(--animation-duration);
  /* Tốc độ khác nhau */
  animation-delay: var(--animation-delay);

  /* Pseudo-elements (giữ nguyên) */
  &::before,
  &::after {
    content: '';
    position: absolute;
    background: #ffffff;
    z-index: -1;
  }

  &::after {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;
    border-radius: 100px;
  }

  &::before {
    width: 120px;
    height: 120px;
    top: -70px;
    right: 40px;
    border-radius: 200px;
  }

  /*
    MỚI: BỐ CỤC CỐ ĐỊNH CHO 7 ĐÁM MÂY
    Bạn có thể tùy chỉnh các giá trị này để tạo bố cục ưng ý!
  */
  &:nth-child(1) {
    --cloud-top: 5%;
    --cloud-left: 10%;
    // --cloud-scale: 1.2;
    // /* To */
    // --cloud-duration: 6s;
    // --cloud-delay: -1s;
    animation-duration: 25s;
    animation-delay: 0s;

    &::before {
      width: 70px;
      height: 70px;
      top: -30px;
      left: 20px;
    }

    &::after {
      width: 90px;
      height: 90px;
      top: -40px;
      right: 10px;
    }
  }

  &:nth-child(2) {
    --cloud-top: 10%;
    --cloud-left: 80%;
    // --cloud-scale: 0.9;
    // /* Nhỏ */
    // --cloud-duration: 5.5s;
    // --cloud-delay: -3s;
    animation-duration: 35s;
    /* Tốc độ khác nhau */
    animation-delay: -5s;

    &::before {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 30px;
    }

    &::after {
      width: 120px;
      height: 120px;
      top: -60px;
      right: 20px;
    }
  }

  &:nth-child(3) {
    --cloud-top: 25%;
    --cloud-left: 2%;
    // --cloud-scale: 0.8;
    // /* Nhỏ */
    // --cloud-duration: 7s;
    // --cloud-delay: -0.5s;
    animation-duration: 30s;
    /* Tốc độ khác nhau */
    animation-delay: -10s;
    width: 182px;
    height: 53px;

    &::before {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 30px;
    }

  }

  &:nth-child(4) {
    --cloud-top: 30%;
    --cloud-left: 70%;
    // --cloud-scale: 1.2;
    // /* Rất to */
    // --cloud-duration: 5s;
    // --cloud-delay: -2s;
    animation-duration: 30s;
    animation-delay: -5s;

    &::before {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 30px;
    }

    &::after {
      width: 120px;
      height: 120px;
      top: -60px;
      right: 20px;
    }
  }

  &:nth-child(5) {
    --cloud-top: 50%;
    --cloud-left: 20%;
    // --cloud-scale: 1.0;
    // /* Trung bình */
    // --cloud-duration: 6.5s;
    // --cloud-delay: -1.5s;
    animation-duration: 25s;
    animation-delay: -15s;
    width: 182px;
    height: 53px;

    &::before {
      width: 60px;
      height: 60px;
      top: -25px;
      left: 15px;
    }
  }

  &:nth-child(6) {
    --cloud-top: 55%;
    --cloud-left: 85%;
    // --cloud-scale: 0.9;
    // /* Nhỏ */
    // --cloud-duration: 5.8s;
    // --cloud-delay: -4s;
    animation-duration: 35s;
    animation-delay: -10s;

    &::before {
      width: 60px;
      height: 60px;
      top: -25px;
      left: 15px;
    }

  }

  &:nth-child(7) {
    --cloud-top: 35%;
    /* Gần trung tâm, sau tiêu đề */
    --cloud-left: 45%;
    --cloud-scale: 0.7;
    /* Rất nhỏ */
    --cloud-duration: 7.5s;
    --cloud-delay: -2.5s;
    animation-duration: 45s;
    animation-delay: 0s;

    &::before {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 30px;
    }

    &::after {
      width: 120px;
      height: 120px;
      top: -60px;
      right: 20px;
    }
  }
}

/* Section chính (giữ nguyên) */
.decadeOfUs {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: var(--elegant-font);
  background: linear-gradient(to bottom,
      #87ceeb 0%,
      #f0f8ff 100%);
  overflow: hidden;
}

/* Các style khác giữ nguyên */
.title {
  text-align: center;
  font-size: 48px;
  color: #f0afd9;
  text-shadow: 1px 1px 2px #8f3c60;
  padding-top: 40px;
  position: relative;
  z-index: 10;
  font-family: var(--elegant-font);

}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.balloonContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}