.container {
  transition: display 0.5s ease-in-out;
  min-height: 100vh;
  font-family: var(--elegant-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  width: 100%;
  position: relative;
  z-index: 0;
 background: linear-gradient(135deg, #feeef7 0%, #e8f3f9 100%);
  .pinkBow {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 150px;
    height: auto;
    transform: rotate(15deg);
  }

  .pinkBowSecond {
    position: absolute;
    bottom: 10px;
    right: 20px;
    /* transform: rotate(15deg); */
    transform: rotate(195deg);

  }

  .blueBow {
    position: absolute;
    top: 10px;
    right: 20px;
    transform: rotate(335deg);
  }

  .blueBowSecond {
    position: absolute;
    bottom: 10px;
    left: 20px;
    /* transform: rotate(335deg); */
    transform: rotate(155deg);
  }

  img {
    width: 130px;
    height: auto;
  }

  .saveTheDate {
    color: var(--text-color);
  }

  .names {
    font-size: 80px;
    margin-top: 8px;

    .and {
      font-size: 40px;
      margin: 0 16px;
      color: var(--text-color);
    }

    .brideName {
      color: #f0afd9;
    }

    .groomName {
      color: var(--blue-color);
    }


  }

  .date {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 24px;

  }



}