body {

  min-height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
  width: 100%;
}





.content {
  width: 100%;
  position: relative;
}