.content {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.main-content {
  animation: fadeIn 1s ease-in-out;
}
.footer {
  background-color: var(--text-color);
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--elegant-font);
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    padding: 12px 16px;
    gap: 16px;
    
  }
  .contact-info {
    justify-content: space-between;
    width: 100%;
    
  }
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}