.wrapper {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--elegant-font);
  padding-bottom: 80px;

  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 34px;
    color: #f0afd9;

    .imageWrapper {
      position: relative;

      .arrow,
      .secondArrow {
        position: absolute;
        width: 100px;
        height: auto;

      }

      .arrow {
        top: 120px;
        left: -86px;
        transform: rotate(40deg);
      }

      .secondArrow {
        transform: rotate(108deg);
        bottom: 79px;
        right: -84px;
      }

      .mainPhoto {
        max-height: 66vh;
        max-width: 70vw;

      }

      .paperClip {
        position: absolute;
        right: 10px;
        top: -23px;
        width: 60px;
        transform: rotate(15deg);
      }

      .textOverlay {
        position: absolute;
        right: -140px;
        font-size: 48px;

        .married {
          margin-left: -20px;
        }
      }

    }
  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px;
    min-height: 80vh;

    .container {
      // flex-direction: column;
      font-size: 24px;

      .imageWrapper {
        .mainPhoto {
          max-height: 60vh;
          max-width: 50vw;
        }

        .paperClip {
          width: 40px;
          top: -14px;
        }

        .arrow {
          width: 50px;
          top: 50px;
          left: -50px;
        }

        .secondArrow {
          width: 50px;
          right: -40px;
        }

        .textOverlay {
          margin-top: 16px;
          font-size: 24px;
          right: -40px;
          text-align: center;
        }
      }
    }
  }
}